button {
    /* clear defaults */
    background: none;
    box-shadow: none;
    border: none;

    /* position: relative; */

    /* Change position of button */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1.6em; */

    cursor: pointer;
    width: 12.5em;
    height: 2.6em;
    background: var(--thunk-pink);
    border-radius: 4.2em;
    box-shadow: var(--drop-shadow);

    font-family: var(--McLaren);
    font-size: 1.125em;
    color: #fff;
    display: block;
}

.btnHome {
    display: inline;
}

button:hover, button:active, button:focus {
    background: var(--pink-gradient);
}

/* unfilled button style */
button:disabled, button[disabled] {
    background: none;
    border: 3px solid var(--muted-purple);
    cursor: default;
}
