.closed-captions { 
    padding-top: 1.8rem;
    font-family: var(--Avenir-Next);
    border-radius: 2rem;
    text-align: center;
    width: 50rem;
    height: 5rem;
    margin-top: 28rem;
    background: var(--thunk-pink-transparent);
    box-shadow: var(--drop-shadow);
    position: absolute;
    bottom: 1rem;
    left: 50vw;
    transform: translateY(-100%) translateX(-50%);
    margin: 0 auto;
    max-width: 60%;
}

.closed-captions>h3 { 
    font-size: 1rem;
    padding-bottom: 2rem;
}
