.closed-captions { 
    padding-top: 1.8rem;
    font-family: 'Mclaren';
    border-radius: 2rem;
    text-align: center;
    width: 50rem;
    height: 5rem;
    margin-top: 28rem;
    background: rgba(255, 0, 107, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.closed-captions>h3 { 
    font-size: 1rem;
    padding-bottom: 2rem;
}
