.hosting-instructions { 
    text-align: center;
    font-family: var(--McLaren);
    font-size: 2.25rem;
    list-style: none;
    color: #fff;
}

.hosting-instructions>p>b { 
    color: var(--thunk-pink);
}

#spanNewGameCode {
    text-align: center;
    margin-top: 2rem;
    font-size: 9rem;
    font-weight: bold;
    color: #fff;
}
#btnPlayerLaunchGame {
    margin-bottom: 2rem;
}