@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
 
.landing-instructions { 
    text-align: center;
    font-family: 'Mclaren', cursive;
    font-size: 1.2rem;
}
.landing-instructions>p>b { 
    color: var(--thunk-pink);
}