.welcome { 
	position: absolute;
	top: 12.5rem;
	left: 5rem;
	font-family: var(--Avenir-Next);
	font-weight: bold;
	font-size: 2rem;
	line-height: 3.125rem;
	text-align: center;
	color: #FFFFFF;
}

.subtitle { 
	position: absolute;
	left: 1rem;
	right: 2rem;
	top: 15rem;
	width: 100%;
	font-family: var(--McLaren);
	font-style: normal;
	font-weight: normal;
	font-size: 1.25rem;
	text-align: center;
	color: #FFFFFF;
}

#room-code { 
	position: absolute;
	left: 4.75rem;
	top: 25rem;
	bottom: 2.4rem;
	width: 16rem;
	height: 3.2rem;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 3.2rem;
	background-color: transparent;
}