.textFitAlignVert {
	position: unset !important;
	top: unset !important;
	right: unset !important;
	bottom: unset !important;
	left: unset !important;
	margin: unset !important;
	display: unset !important;
	justify-content: unset !important;
	flex-direction: unset !important;
}

.textFitted {
	display: unset !important;
	font-size: unset !important;
	height: unset !important;
}