.title {
    font-family: var(--Avenir-Next);
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.round-title { 
    position: absolute;
    width: 11rem;
    height: 3.2rem;
    left: 7.5rem;
    top: 10rem;
    background: var(--thunk-pink);
    border-radius: 1.5rem;
}

.think-twice { 
    position: absolute;
    width: 8rem;
    height: 1.4rem;
    left: 1.5rem;
    top: 1rem;
    font-family: var(--Avenir-Next);
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.375rem;
    text-align: center;
    color: #FFFFFF;
}

.instructions { 
    position: absolute;
    width: 18.5rem;
    height: 25rem;
    left: 2.8rem;
    top: 16rem;
}

.cta { 
    position: absolute;
    width: 12.5rem;
    height: 2.625rem;
    left: 5.8rem;
    top: 32rem;
}

ol>li { 
    font-family: var(--McLaren);
    font-size: 1.25rem;
    line-height: 1.325rem;
    color: #F1F1F1;
}

.ready { 
    display: flex;
    justify-content: center;
    height: 3.5rem; 
    width: 15rem;
    background: var(--thunk-pink);
    border-radius: 4.2rem;
    font-family: var(--McLaren);
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: white;
}

.titleWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#code\ info h2 {
    font-size: 9rem;
}