.timer {
    width: 43.75rem;
}

@media screen and (max-width: 27.5rem) {
    .timer {
        width: 12.5rem;
    }
}

/* on mouse hover = example of time running out */
.timer:hover .timer-bar{
    animation: timer-countdown 3s linear infinite;
    /* animation: timer-countdown 3s linear 1s infinite forwards; */
}

@keyframes timer-countdown {
    0% { transform: scaleX(100%); }
    100% { transform: scaleX(0%); }
}